password-box {
    position: relative;
}

.password-box input {
    width: 100%;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #00c6ff;
}
 
